appnope==0.1.0; sys_platform == "darwin"
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3; sys_platform == "win32"
cython==0.29.20
decorator==4.4.2
fairseq==0.9.0
fastbpe==0.1.0
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
joblib==0.15.1
numpy==1.19.0
parso==0.7.0
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
portalocker==1.7.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0; sys_platform != "win32"
pycparser==2.20
pygments==2.6.1
pywin32==228; platform_system == "Windows"
regex==2020.6.8
requests==2.24.0
sacrebleu==1.4.10
sacremoses==0.0.43
six==1.15.0
subword-nmt==0.3.7
tensorboardx==2.1
torch==1.4.0
tqdm==4.47.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.5
